body {
   background-color: #67c2a4;
}

header {
   background-color: #71c7dd;
   text-align: center;
   font-family: sans-serif;
}

table ,th, tr, td, form {
   border: 2px solid black;
   border-collapse: collapse;
}

form, table {
   border-radius: 5px;
   margin: auto 20px;
   width: 60%;
}

input {
   margin: auto 10px;
   background-color: white;
}

.right-align {
   text-align: right;
}