body {
   background-color: #67c2a4;
}

header {
   background-color: #71c7dd;
   text-align: center;
   font-family: sans-serif;
}

table ,th, tr, td, form {
   border: 2px solid black;
   border-collapse: collapse;
}

form, table {
   border-radius: 5px;
   margin: 20px auto;
   background-color: #71c7dd;
}

form {
   width: 60%;
}

table {
   width: 40%;
}

.inputField {
   margin: auto;
   width: 50%;
}